<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div #mapElement id="map" style="height: 100%;"></div> -->
  <!-- <capacitor-google-map id="map"></capacitor-google-map> -->
  <!-- <capacitor-google-map #map></capacitor-google-map> -->
  <!-- <button (click)="createMap()">Create Map</button> -->
  <div *ngIf="loading">Cargando...</div>
  <capacitor-google-map #map></capacitor-google-map>

  <!-- <app-mapa *ngIf="!loading" [center]="center" [zoom]="10" [markers]="datosMarkers"></app-mapa> -->
</ion-content>
