<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Hoteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text *ngIf="loading">Cargando...</ion-text>
  <div *ngIf="!loading">
    <ion-searchbar color="light" placeholder="Buscar..."></ion-searchbar>
    <ion-card *ngFor="let h of hoteles">
      <img alt="Silhouette of mountains" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGPz1LMXVoDPBhDxR31vTkmcIjOw79fTZFFw&s" />
      <ion-card-header>
        <ion-card-title>{{ h.nombre }}</ion-card-title>
        <ion-card-subtitle>{{h.direccion}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>{{ h.descripcion }}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
