.contenedor-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo{
    width: 100%;
    text-align: center;
  }
  .titulo p{
    font-size: x-large;
    font-weight: bold;
  }
.volver{
    background: white;
  }